
*{
    padding:0px;
    margin:0px;
    font:inherit;
    box-sizing: border-box;
}

@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf)
}

.container{
    display:flex;
    height:100vh;
    width: 100vw;
}

.left {
    background-image:url("splash.jpeg");
    width:45%;
}


.logo-text-container{
    height: 20%;
    top: 20%;
    position: relative;
    background: rgba(0,0,0,0.5);
}

.logo-text-content {
    display:flex;
    justify-content: center;
    height:100%;
    width: 100%;
}

#logo {
    height:80%;
    align-self: center;
}

#logo-text {
    color: white;
    align-self: center;
    font-size: 7rem;
    font-family:norse;
}

#photo-credit{
    position:relative;
    top:75%;
    display: flex;
    justify-content: center;
}

#photo-credit-content,
#photo-credit-content>a{
    color:rgb(211, 211, 211, 0.7);
}


.right {
    background:lightgray;
    width:100%;
    display:flex;
    flex-direction: column;
}

.right-upper-content{
    height:40%;
    width: clamp(45ch,70%, 65ch);
    font-size:1.5rem;
    font-weight:500;
    padding-left:2rem;
}

.right-upper-content>p:first-child {
    padding-top:12rem;
}

.right-upper-content>p:last-child {
    padding-top:1rem;
    margin-bottom: 1rem;
}

.right-middle-content{
    margin-top:1em;
    height:35%;
    background:white;
    padding-left:2rem;
    box-shadow:1px 1px 4px gray;
}

.right-bottom-content{
    padding-left:2rem;
    height:40%;
}

label {
    margin-top:10em;
    font-size:0.8rem;
}

input {
    width:250px;
}

button {
    background-color: #596D48;
    color:white;
    padding:1em;
    border-radius:4px;
    margin-top:1em;
    margin-bottom:1em;
    width:200px;
    border:none;
    box-shadow:1px 1px 4px gray;
}

.form-container {
    display:flex;
    gap:10rem;
}

.form-input{
    margin-top:1em;
}

#middle-header {
    font-size:1.5rem;
    margin-top:0.5rem;
    font-weight:550;
}

.account-link{
    color:#596D48;
    text-decoration:none;
}